@import url(../../styles/defaultStyles.css);
.div__imagesContainer
{
    width: 23%;
}
.div__imagesContainer--secondaryImages
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.div__secondaryImageContainer
{
    width: 22%;
    height: 98px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.div__secondaryImageContainer--secondaryImage
{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.selected
{
    border-color: var(--orange);
    border-width: 2px;
    opacity: 80%;
}

.selected img
{
    transition: opacity 0.2s ease;
    opacity: 40%;
}
.div__principalImageContainer--principalImage
{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.div__imagesContainer--principalImageContainer
{
    width: 100%;
    height: 441px;
}
.div__imagesContainer--principalImageContainer
{
    border-style: solid;
    border-width: 1px;
    border-color: var(--grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

